/*******************************************************************************
 * Projekt, Kurs: DT146G
 * File: style.css
 * Desc: Style sheets for projekt
 * 
 * Stefan Nikolic
 * stni1401
 * stefangolman85@gmail.com
 ******************************************************************************/


/* Reset margins and padding */
* {
    margin: 0px;
    padding: 0px;
}



html {
    background-image: url('../img/background.jpg');
    background-size: cover;
}



body {
    margin: 0px auto;
    border: 1px solid black;
    background-color: white;
    min-height: 100vh;
    max-width: 1200px;
    
    display: flex;
   flex-direction: column;
    
}

#allPlayers h1,
#news h1 {
    text-align: center;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: #004459;
}

fieldset {
    margin-top: 25px;
}

/***************************************Fonts************************/

h1, h2 {
    color: #004459;
}

.adminSeciton h2 {
    color: #004459;
    font-size: 18px;
}

/***************************************  Inputs and errors ************************/

input,
select,
input,
select {
    height: 28px;
    display: table-cell;
    vertical-align: middle;
}

    input[type=number] {
        width: 40px;
    }

#inpAttendance {
    width: 100px;
}

.warning {
    background-color: indianred;
}

.required {
    color: red;
    padding: 10px;
}


.errorMessage {
    background-color: #FF3333;
}

#error_message_addAboutMatch {
    display: none;
    padding: 20px 20px 20px;
}



    #error_message_addAboutMatch li {
        list-style: inherit;
        margin-left: 30px;
    }

input[type=number] {
    -moz-appearance: textfield;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
/*************************** Header *******************************/


.containerHeader {
    font-size: 32px;
    font-family: Helvetica;
    height: 180px;
    background-image: url("../img/header.png");
}

.logo {
    height: 100%;
    float: left;
}

.containerHeader img {
    height: 100%;
}

.containerHeader h1 {
    float: left;
    padding-left: 10%;
    padding-top: 5%;
    line-height: inherit;
    font-size: 1.5em;
    color: #F9AF28;
}

/*************************************** Nav ******************************/
.selected {
    background-color: #F9AF28;
}

nav ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #004459;
}

nav li {
    float: left;
}

    nav li a {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 7px 27px;
        color: white;
    }

    nav li:hover {
        background-color: #F9AF28;
        color: black;
    }


/*************************************** Main ******************************/
main {
    font-size: medium;
    overflow: hidden;
    width: 100%;
    padding: 1% 1% 1% 1%;
    flex: 1;
    padding-top: 20px;
}

#mainContact {
    background-color: aqua;
}




/*************************************** AdminNav ******************************/

.adminNav {
    float: left;
    padding-bottom: 500em;
    margin-bottom: -500em;
    width: 18%;
    background-color: #62A7C4;
}

    .adminNav ul {
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #62A7C4;
        list-style-type: none;
    }

    .adminNav li {
        float: left;
        width: 100%;
        border-bottom: solid 1px;
        border-bottom-color: white;
    }

        .adminNav li a {
            text-decoration: none;
            display: block;
            text-align: left;
            color: white;
            height: 20px;
        }

/*************************************** admin section ******************************/
.adminSeciton {
    float: left;
    width: 77%;
    padding-bottom: 500em;
    margin-bottom: -500em;
    padding-left: 3%;
    padding-top: 2%;
    background-color: #DFEFF0;
    border: 2px solid #F9AF28;
}

    .adminSeciton h2 {
        padding-bottom: 3%;
    }

    .adminSeciton label {
        width: 130px;
        display: inline-block;
    }

    .adminSeciton p {
        display: inline-block;
        margin-left: 4px;
    }


    .adminSeciton fieldset {
        padding: 2%;
    }

.formRow {
    float: left;
    width: 100%;
    margin-bottom: 3%;
}

/*************************************** Index News ******************************/
#news {
    width: 98%;
    background-color: red;
}

    #news h1 {
        padding-bottom: 20px;
    }

    #news h2 {
        text-align: center;
        background-color: #004459;
        color: #F9AF28;
    }

#mainNews {
    width: 63%;
    float: left;
    background-color: #62A7C4;
    padding: 0 2% 0 2%;
}

    #mainNews article {
        background-color: white;
        width: 100%;
    }

    #mainNews img {
        width: 30%;
        padding: 2% 2%;
        float: left;
    }

    #mainNews p {
        margin: 2% 1% 2% 1%;
        text-align: left;
        font-size: 14px;
        text-align: justify;
    }

#infoNews {
    width: 28%;
    float: right;
    padding: 0 2% 0 2%;
    background-color: #62A7C4;
}

    #infoNews article {
        background-color: white;
        width: 100%;
        float: right;
        margin-bottom: 4%;
    }

    #infoNews img {
        width: 96%;
        padding: 2% 2%;
        float: left;
    }

    #infoNews p {
        padding: 2% 5% 2% 5%;
        text-align: left;
        font-size: 14px;
        text-align: justify;
    }

/**************************************** TabelList ************************************/
.tableList {
    border-collapse: collapse;
    text-align: left;
    width: 97%;
    margin-right: 3%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #004459;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


    .tableList td, .tableList th {
        padding: 3px 10px;
    }

    .tableList thead th {
        color: #004459;
        font-size: 14px;
        border-left: 1px solid #0070A8;
        background: url(http://tablesorter.com/themes/blue/bg.gif) no-repeat 99% #62A7C4;
    }

        .tableList thead th:first-child {
            border: none;
        }

    .tableList tbody td {
        color: #00496B;
        font-size: 12px;
        height: 28px;
    }

tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.tableList tbody td:first-child {
    border-left: none;
}

.tableList tbody tr:last-child td {
    border-bottom: none;
}
/*************************************** Page Players ******************************/

.player {
    width: 17%;
    background-color: #62A7C4;
    float: left;
    margin: 1% 1% 1% 1%;
    min-height: 500px;
}


    .player h3 {
        font-size: 1.1em;
        padding: 2% 0% 2% 0;
        text-align: center;
        background-color: #004459;
        color: #F9AF28;
    }

    .player img {
        width: 90%;
        padding: 0 5% 0 5%;
    }

    .player ul, li {
        list-style: none;
        padding: 1% 3%;
    }

    .player span {
        font-weight: bold;
    }

    .player:hover {
        outline: 3px solid #F9AF28;
    }


    .player figure {
        position: relative;
        overflow: hidden;
    }

        .player figure img {
            -webkit-transition: all 4s ease;
            -moz-transition: all 4s ease;
            transition: all 4s ease;
        }

    .player:hover img {
        -moz-transform: scale(1.5,1.5);
        -webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

/**************************************** addPlayer ************************************/
#addPlayerForm fieldset {
    width: 230px;
}

#inpHalfTimeAway,
#inpFullTimeAway {
    margin-left: 10px;
}

#inpHalfTimeHome,
#inpFullTimeHome {
    margin-right: 10px;
}

/**************************************** add lineup ************************************/

/************* start 11 and substitutes ***********/
#addPlayersFormStar11 input,
#addPlayersFormStar11 select,
#addPlayersFormReserves input,
#addPlayersFormReserves selectm {
    height: 28px;
    display: table-cell;
    vertical-align: middle;
}



#addLineup legend {
    color: #004459;
}

.addPlayersRowDiv {
    padding: 5px 0 5px 0;
}

#numOFminLbl {
    width: 100%;
    min-height: 30px;
    text-align: center;
    display: inline-block;
}

    #numOFminLbl label {
        width: 100%;
    }

.inpDivSmall {
    margin-right: 1px;
    width: 9%;
    text-align: center;
    display: inline-block;
}


.inpDivName {
    width: 20%;
    display: inline-block;
}

#labelsAddLinup .inpDivSmall {
    margin-right: -4px;
}

/************* Man of the match ***********/
#addPlayersFormBestPlayer label {
    width: 25%;
}
/************* Scores ***********/
#addWhoScored input,
#addWhoScored select {
    margin-left: 15px;
    margin-right: 15px;
}
/**************************************** Match Report ************************************/
#matchRpInfo {
    width: 98%;
    background-color: #004459;
}

#matchRpFacts .matchFacts {
    background-color: #62A7C4;
    display: inline-block;
    width: 16.65%;
    align-content: center;
    text-align: center;
    padding: 8px 0;
    color: #004459;
    font-weight: bold;
    border-bottom: 1px solid #F9AF28;
}

#matchFactContainer {
    display: flex;
    height: 100px;
    margin: 0 10% 0 10%;
    border-bottom: 1px solid #F9AF28;
    font-weight: bold;
}


#matchRpHomeName {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 5%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 2em;
    color: white;
}

#matchRpAwayName {
    float: right;
    width: 45%;
    text-align: left;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 2em;
    color: white;
}

#matchRpResult {
    width: 10%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 1.5em;
    color: #004459;
}

#matchRpFinalResult {
    background-color: #F9AF28;
    padding: 8% 0 8% 0;
    font-weight: bold;
}


#matchRpWhoScored {
    display: flex;
    min-height: 50px;
    color: white;
}

#matchRpHomeScores {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 2%;
    vertical-align: middle;
}

#matchRpHalfTimeResult {
    width: 10%;
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
    font-size: 1em;
}

#matchRpAwayScores {
    float: right;
    width: 45%;
    text-align: left;
    padding-left: 2%;
}

.newAssistPlayer {
    color: #F9AF28 !important;
}

.newScoreLine {
    width: 100%;
    padding: 5px 0px 5px 0;
}

.newGoalPlayer {
    width: 100%;
    display: inline-block;
}

.newAssistPlayer {
    width: 100%;
    font-size: 12px;
}

.newScorePlayer label {
    font-size: 14px;
}

/******************** Lineup ********************/

#matchRpLineup {
    margin: 20px 0 20px 0;
}

#tabelLineup {
    width: 90%;
    margin: 2% 4% 2% 4%;
    border-collapse: collapse;
    background-color: #62A7C4;
}

    #tabelLineup td {
        padding-left: 15px;
        height: 25px;
    }

        #tabelLineup td:first-child {
            border-left: solid 1px #004459;
        }

        #tabelLineup td:last-child {
            border-right: solid 1px #004459;
        }

    #tabelLineup tr:last-child td {
        border-bottom: solid 1px #004459;
    }

    #tabelLineup thead th {
        background-color: #004459;
        border-bottom: solid 1px #F9AF28;
        color: #F9AF28;
    }

    #rowSubstitutes,
    #tabelLineup th {
        background-color: #004459;
        color: #F9AF28;
        padding: 2px 0 2px 0;
    }

#rowSubstitutes {
    border-right: solid 1px #004459;
    border-left: solid 1px #004459;
}



/******************** Man of the match ********************/

#matchRpManOfTheMatch {
    width: 98%;
    background-color: #004459;
    margin-top: 25px;
    margin-bottom: 25px;
}



    #matchRpManOfTheMatch h2 {
        text-align: center;
        color: #F9AF28 !important;
        font-weight: bold;
        font-size: 18px;
    }

#imgBestPlayer {
    width: 25%;
    float: left;
    min-height: 220px;
    text-align: center;
    padding-top: 20px;
    background-color: #62A7C4;
}

#aboutBestPlayer {
    background-color: #62A7C4;
    width: 75%;
    float: right;
    min-height: 220px;
    padding-top: 20px;
    color: black;
}

    #aboutBestPlayer h4 {
        text-align: center;
        font-size: 1.8em;
        padding-bottom: 15px;
        color: #004459;
        text-align: left;
    }

#divLeftPlayerInfo {
    float: left;
    width: 30%;
}

#divRightPlayerInfo {
    float: left;
    width: 30%;
    border-left: 1px solid;
}

    #divRightPlayerInfo ul {
        padding-left: 20%;
    }

/*************************************** Share buttons ******************************/
#matchRpShare {
    background-color: #62A7C4;
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 98%;
    text-align: center;
}

#shareHeadline {
    width: 100%;
    background-color: #004459;
    padding: 5px 0 5px;
}

    #shareHeadline h2 {
        color: #F9AF28 !important;
        font-weight: bold;
        font-size: 18px;
    }

#matchRpShare shareButtons {
}

#matchRpShare ul {
    padding: 15px;
}


ul.share-buttons {
    list-style: none;
    padding: 0;
}

    ul.share-buttons li {
        display: inline;
    }

    ul.share-buttons .sr-only {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }



/*************************************** Footer ******************************/
footer {
    background-color: #004459;
    height: 100px;
    margin-bottom: auto;
    margin-top: 20px;
    bottom: 0;
    clear: both;
    text-align: center;
}

    footer p {
        padding-top: 15px;
        color: #F9AF28;
    }



/********************** Buttons *****************/

.mainBtn {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffdd00), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #ffdd00 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #ffdd00 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #ffdd00 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #ffdd00 5%, #ffab23 100%);
    background-color: #ffdd00;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #f9b028;
    display: inline-block;
    cursor: pointer;
    color: #004459;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 10px 2px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    margin: 10px 0 10px 5px;
}

    .mainBtn:hover {
        background: -moz-linear-gradient(top, #ffab23 5%, #ffdd00 100%);
        background: -webkit-linear-gradient(top, #ffab23 5%, #ffdd00 100%);
        background: -o-linear-gradient(top, #ffab23 5%, #ffdd00 100%);
        background: linear-gradient(to bottom, #ffab23 5%, #ffdd00 100%);
        background-color: #ffab23;
    }




/* Styles for  screen min 300 and smaller*/
@media only screen and (max-width: 300px) {

    html {
        background: none;
    }

    body {
        max-width: 300px;
    }

    .containerHeader {
        height: 70px;
    }

        .containerHeader h1 {
            font-size: 0;
        }



    nav li {
        width: 30%;
        padding: 0;
        font-size: 12px;
    }

    .adminNav {
        width: 98%;
    }

        .adminNav li {
            display: inline-block;
            width: 48%;
        }

    .player {
        width: 95%;
        min-height: 500px;
    }

        .player h3 {
            font-size: 1em;
            padding: 2% 0% 2% 0;
        }

        .player li {
            font-size: 14px;
        }

    #mainNews {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #infoNews {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #news article {
        margin-bottom: 20px;
    }

    #news img {
        width: 96%;
        padding: 2% 2%;
    }

    #infoNews p {
        text-align: left;
        font-size: 14px;
        text-align: justify;
    }

    #infoNews article {
        width: 100%;
    }



    .tableList thead th {
        font-size: 0;
    }

    .tableList tbody td {
        font-size: 10px;
    }

    .adminSeciton {
        width: 100%;
    }

    #matchRpManOfTheMatch img {
        width: 100%;
    }

    #matchRpManOfTheMatch li {
        font-size: 12px;
    }

    #matchRpManOfTheMatch h4 {
        font-size: 1.3em;
        padding: 0;
    }

    #matchFactContainer {
        font-size: 10px;
    }

    #matchRpFacts,
    #matchRpWhoScored {
        font-size: 12px;
    }

    #matchRpManOfTheMatch li {
        font-size: 12px;
    }

    #matchRpLineup,
    #tabelLineup {
        width: 100%;
        margin: 5% 0 0 0;
    }

        #tabelLineup tbody td,
        #bodyTabelLineup,
        #tabelLineup thead th,
        #rowSubstitutes {
            font-size: 9px;
        }

        #tabelLineup img {
            height: 50%;
        }

    footer {
        height: 90px;
    }

        footer p {
            font-size: 0.7em;
            padding: 10px;
        }
}


/* Styles for  screen min 300 px and max 480px */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    html {
        background: none;
    }

    body {
        max-width: 480px;
    }

    html {
        background-image: none;
    }

    .containerHeader {
        height: 70px;
    }

    #matchFactContainer {
        font-size: 11px;
    }

    #matchRpFacts,
    #matchRpWhoScored {
        font-size: 12px;
    }

    #matchRpManOfTheMatch li {
        font-size: 12px;
    }

    #matchRpManOfTheMatch h4 {
        font-size: 1.3em;
        padding: 0;
    }

    nav li a {
        padding: 10px 15px;
    }

    .adminNav {
        width: 98%;
    }

        .adminNav li {
            display: inline-block;
            width: 48%;
        }

    .adminSeciton {
        width: 100%;
    }

    .player {
        width: 45%;
        min-height: 430px;
    }

        .player h3 {
            font-size: 1em;
            padding: 2% 0% 2% 0;
        }

        .player li {
            font-size: 14px;
        }

    #mainNews {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #infoNews {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        #infoNews img {
            width: 30%;
            padding: 2% 2%;
            float: left;
        }

        #infoNews p {
            text-align: left;
            font-size: 14px;
            text-align: justify;
        }

        #infoNews article {
            width: 100%;
        }

    .containerHeader {
        height: 100px;
    }

        .containerHeader h1 {
            font-size: 0.6em;
        }

    footer {
        height: 90px;
    }

        footer p {
            font-size: 0.7em;
            padding: 10px;
        }

    nav li {
        width: 18%;
        padding: 1%;
        font-size: 12px;
    }

    .inpDivName {
        width: 30%;
    }

    .inpDivSmall {
        width: 11%;
    }

    #matchRpManOfTheMatch img {
        width: 100%;
    }

    #matchRpLineup,
    #tabelLineup {
        width: 100%;
        margin: 5% 0 0 0;
    }

        #tabelLineup tbody td,
        #bodyTabelLineup,
        #tabelLineup thead th,
        #rowSubstitutes {
            font-size: 9px;
        }

        #tabelLineup img {
            height: 50%;
        }
}


/* Styles for screen between 641px and 1024px */
@media only screen and (min-width: 481px) and (max-width: 640px) {

    body {
        background: none;
    }

    .containerHeader {
        height: 70px;
    }



    nav li a {
        padding: 10px 20px;
    }

    .inpDivName {
        width: 30%;
    }

    .inpDivSmall {
        width: 11%;
    }

    .player {
        width: 30%;
    }

        .player h3 {
            font-size: 1em;
            padding: 2% 0% 2% 0;
        }

    #matchRpManOfTheMatch img {
        width: 100%;
    }

    #mainNews {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #infoNews {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        #infoNews img {
            width: 30%;
            padding: 2% 2%;
            float: left;
        }

        #infoNews p {
            text-align: left;
            font-size: 14px;
            text-align: justify;
        }

        #infoNews article {
            width: 100%;
        }

    .containerHeader {
        height: 130px;
    }

        .containerHeader h1 {
            font-size: 1.1em;
        }

    nav li {
        width: 17%;
        padding: 1%;
    }
}

/* Styles for screen between 641px and 1024px */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    body {
        max-width: 960px;
    }



    .containerHeader {
        height: 130px;
    }


    nav li {
        width: 15%;
        padding: 1%;
    }


    .player {
        width: 23%;
    }

        .player h3 {
            font-size: 1em;
            padding: 2% 0% 2% 0;
        }
}
